@import "../../styles/variables.css";

.booking {
  background-color: var(--primary-bg);
  color: var(--text-light);
  text-align: center;
  padding: 5rem 2rem;
  font-family: var(--font-family);
}

.booking-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 2rem auto;
}

.booking-form input,
.booking-form select {
  padding: 0.8rem;
  border: none;
  border-radius: 6px;
  background-color: var(--secondary-bg);
  color: var(--text-light);
}

.booking-form button {
  background: var(--accent-gradient);
  border: none;
  color: #fff;
  padding: 0.8rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.booking-form button:hover {
  background: var(--accent-gold);
  color: var(--primary-bg);
}
